.floating-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background-color: #553772;
  box-shadow: 1px 1px 3px black;
}

.send { 
  margin-right: -70px;
}

.floating-button + .floating-button {
  margin-top: 20px;
}

.floating-button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.floating-button:disabled {
  filter: brightness(0.5);
}

.floating-button svg {
  color: #FFF;
  font-size: 20px;
}

.floating-button .tooltip {
  position: absolute;
  top: -25px;
  right: -70px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px 10px;
  font-family: 'Poppins';
  color: #FFF;
  width: 70px;
  border-radius: 3px;
  text-transform: capitalize;
  display: none;
  user-select: none;
}

.floating-button:hover .tooltip {
  display: block;
}

.tooltip-left {
  left: -70px;
}