* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #252e42;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.App .drawer {
  border: 3px solid #8f3b76;
  box-shadow: 1px 1px 5px;
}

.App .floor-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

#canvas-container {
  position: relative;
}

#canvas-container span.floating-controls {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -70px;
}

.floating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background-color: #553772;
  box-shadow: 1px 1px 3px black;
}

.send { 
  margin-right: -70px;
}

span.floating-controls .floating-button + .floating-button {
  margin-top: 20px;
}

.floating-button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.floating-button:disabled {
  filter: brightness(0.5);
}

.floating-button svg {
  color: #FFF;
  font-size: 20px;
}

.brush-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #553772;
  padding: 5px 25px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}

.brush-controls svg {
  font-size: 20px;
  color: #FFF;
}

.brush-controls input {
  width: 50px;
  height: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px black;
}

.brush-controls input[type=number] {
  background-color: #FFF;
  text-align: center;
  font-weight: bold;
  color: #000;
  border: 0;
}

.brush-controls input[type=color] {
  margin: 0 25px;
  padding: 1px;
  width: 27px;
}