aside.save-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -310px;
  width: 280px;
  height: 500px;
  background-color: #553772;
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 1px 5px;
  
}

aside.save-list h2 {
  position: absolute;
  margin: auto;
  margin-top: 5px;
  font-family: 'Poppins';
  font-size: 28px;
  font-weight: bold;
  color: #FFF;
}

aside.save-list > .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  margin-top: 50px;
  overflow-y: auto;
  height: 100%;
}

aside.save-list > .items p {
  font-family: 'Poppins';
  margin: 15px 0;
  height: 20px;
  color: ghostwhite;
  cursor: pointer;
}

.hd-container {
  position: absolute;
  top: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hd-container p {
  width: 70%;
  text-align: center;
}

.hard-drive-icon {
  color: ghostwhite;
  font-size: 50px;
}